.cursor-pointer {
  cursor: pointer;
}

.d-flex {
  display: flex !important;
}

.relative-position {
  position: relative;
}

.align-right {
  float: right;
}

.element-hide {
  display: none;
}

/* Media query */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 660px) {
}

@media screen and (max-width: 375px) {
}
